<div class="container">
  <div [ngClass]="class()">
    <app-square
      *ngFor="let cell of arrayCell; let i = index"
      [ring]="hasItems(i)"
      (click)="getRing(i, $event)"
    ></app-square>
  </div>
  <p class="tries">Tries: {{tries}}</p>
  <p class="tries"><button class="btn" (click)="reset()">reset</button></p>
</div>
