.container {
  width: 550px;
  padding: 0 20px;
  margin: 0 auto;
}

.board {
  display: flex;
  background: gold;
  flex-wrap: wrap;
  width: 315px;
  padding: 50px;
  margin: 0 auto;
  border: 1px solid black;
}
.disabled {
  pointer-events: none;
}

.tries{
  text-align: center;
  font-size: 25px;
}

.btn{
  width: 80px;
  height: 30px;
  font-weight: bold;
  background: blue;
  border-radius: 5px;
  border: none;
}
